

#rojo{float:left ;width: 300px;height: 300px;background-color: red; margin-left:10px ; margin-top:10px}
#negro{float:left ; width: 300px;height: 300px;background-color: black; margin-left:10px; margin-top:10px}



#parrafoDIVl{font-family:times ; color:yellow; font-size:50px} 
#parrafoDIV2{font-family:times ;color: white;  font-size:50px}




